<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">면접 주제</div>
    <div class="list-group list-group-flush">
      <a href="/routes/category/java.html" class="list-group-item list-group-item-action bg-light">Java</a>
      <a href="/routes/category/web.html" class="list-group-item list-group-item-action bg-light">Web</a>
      <a href="/routes/category/cs.html" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="/routes/category/ps.html" class="list-group-item list-group-item-action bg-light">Problem Solving</a>
    </div>
  </div>